.HeroContainer {
    display: flex;
        background-image: url(https://static.expo.dev/static/home/9-2025/splash-bg.webp);
    border-radius: 24px;
    box-shadow: 0 12px 24px var(--box-shadow-color);
    padding: 5rem 2rem;
    min-width: 80%;
}

.Hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
}

.ScheduleButton {
  cursor: pointer;
  width: auto;
  min-height: 3rem;
  border-radius: var(--border-radius);
  border: 0.125rem solid var(--primary-color);
  background: var(--background-color);
  padding: 0.5rem 1.5rem;  
  transition: 20ms ease-out;
  margin-top: 2rem;
  & a {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);

  }
}

.ScheduleButton:hover {
  background: var(--primary-color);
  & a {
    color: var(--background-color);
  }
}

.Hero .Title {
    margin: 0 0 1.5rem 0;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.375rem;
}

.Hero .Subtitle {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.Hero p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
}

.Intro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ImagePrefix {
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--primary-color);
}

.Image {
    display: inline-block;
    margin-left: 1rem;
    width: 36px;
    height: 36px;
    transform-origin: 70% 70%;
}

@media (min-width: 768px) {
    .Hero .Title {
        font-size: 2.625rem;
        line-height: 3rem;
        margin-bottom: 0;
    }

    .Hero .Subtitle {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .ImagePrefix {
        font-size: 2.625rem;
        line-height: 4rem;
    }

    .Image {
        width: 48px;
        height: 48px;
    }
}

.heroImageCont {
    flex: 40%;
    flex-shrink: 0;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 1rem 3rem 0;
}

.heroImageCont .heroImage {
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.16);
    filter: grayscale(20%) contrast(1) brightness(90%);
    transition: transform 0.3s ease;
}

.heroImage:hover{
    transform: perspective(700px) scale(1.05);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .heroImageCont {
        padding: 0 0 2rem 0;
    }

    .HeroContainer {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .Hero {
        display: block;
    }
}
