.Logo {
    position: relative;
    z-index: 9;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    line-height: 1.5rem;
}