* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-container {
  position: relative;
  user-select: none;
  padding-inline: 1rem;
}

.splide__arrow svg {
    fill: var(--primary-color) !important;
}

.slider-container .quote {
  position: absolute;
  color: var(--primary-color);
}

.slider-container .top-quote {
  position: absolute;
  top: -1rem;
  left: -1rem;
}

.slider-container .bottom-quote {
  position: absolute;
  bottom: -3rem;
  right: -0.5rem;
  transform: rotate(180deg);
}

.slider-container .review-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-inline: auto;
}

/* Splide customization */
.splide__track {
  border-radius: 1rem;
}

.splide__slide {
  display: flex;
  align-items: center;
  background-color:var(--background-color);
  padding: 3rem 1.875rem;
  border-radius: 1rem;
  gap: 1rem;
}

.slider-container .content .text {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.slider-container .content .rating {
  display: inline-block;
  line-height: 1;
}

.slider-container .content .user {
  font-weight: 600;
}

.info {
  display: flex;
  gap: 0.5rem;
}


.splide__arrow {
  position: absolute;
  background-color: unset;
  border: none;
  font-size: 2rem;
  font-weight: 300;
}

.splide__arrow--prev {
  top: 50%;
  left: -3.5rem;
  background-color: transparent;
    color: var(--primary-color);
}

.splide__arrow--next {
  top: 50%;
  right: -3.5rem;
  background-color: transparent;
}

.splide__pagination__page {
  height: 10px;
  width: 10px;
  opacity: 1;
}

/* Media Query */
@media (max-width: 576px) {
  .splide__slide {
    display: block;
    text-align: center;
  }

  .splide__arrow {
    font-size: 1.5rem;
  }

  .slider-container .bottom-quote {
    right: 0;
  }
}