.SectionAlt {
  background: var(--background-color);
}

.SectionSoft {
  background: var(--secondary-color);
}

.SectionWrapper {
  padding: 4rem 0;
}

.AboutGrid {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 3rem;
  align-items: center;
}

.AboutImage {
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.16);
  filter: grayscale(20%) contrast(1) brightness(90%);
  transition: transform 0.3s ease;
  margin-bottom: 2rem;
}

.tcc {
  & li {
    margin-bottom: 0.5rem;
  }
}

.ScheduleButton {
  cursor: pointer;
  width: auto;
  min-height: 3rem;
  border-radius: var(--border-radius);
  border: 0.125rem solid var(--primary-color);
  background: var(--background-color);
  padding: 0.5rem 1.5rem;  
  transition: 20ms ease-out;
  margin-top: 2rem;
  & a {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);

  }
}

.ScheduleButton:hover {
  background: var(--primary-color);
  & a {
    color: var(--background-color);
  }
}

.AboutImageText {
  & h1 {
    margin-bottom: 3rem;
  }
}

.AboutImage img {
  box-shadow: 0 12px 24px var(--box-shadow-color);
}

.AboutImage:hover{
    transform: perspective(700px) scale(1.005);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

.AboutText p {
  font-size: 0.9rem;
  line-height: 1.75;
  color: var(--text-color);
  margin-bottom: 1.25rem;
  text-align: left;
}

.ExperienceText {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 3rem;
  margin-bottom: 5rem;
}

.SecondExperienceText {
  display: flex;
  gap: 3rem;
}

.ExperienceImage {
  min-width: 460px;
  background-size: cover;
  height: fit-content;
}

.Caption {
  font-size: 0.6rem;
  color: var(--subtext-color);
}

@media (max-width: 900px) {
  .AboutGrid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .ScheduleButton {
    height: auto;
  }

  .ExperienceText, .SecondExperienceText {
    flex-direction: column;
  }

  .ExperienceImage {
    min-width: auto;
  }
}